%form.form-horizontal{:role => "form", :action => @action, :method => "post"}
  %input{:type => "hidden", :name => "_method", :value => @method}
  .form-group
    %label.col-sm-2.control-label{:for => "date"} Date:
    .col-sm-10
      %input#date.form-control{:type => "date", :name => "event[date]", :value => @event.date.try(:strftime, "%Y-%m-%d")}
  .form-group
    %label.col-sm-2.control-label{:for => "description"} Description:
    .col-sm-10
      %textarea.form-control{:name => "event[description]", :rows => "4", :cols => "50"}
        = @event.description
  .form-group
    %label.col-sm-2.control-label{:for => "tweet"} Tweet text:
    .col-sm-10
      %textarea.form-control{:name => "event[tweet]", :rows => "4", :cols => "50"}
        = @event.tweet
  .form-group
    %label.col-sm-2.control-label{:for => "tweet"} Share:
    .col-sm-10
      .checkbox
        - if @event.share
          %input{:name => "event[share]", :type => "checkbox", :value => "true", :checked => true}
        - else
          %input{:name => "event[share]", :type => "checkbox", :value => "true"}
  .form-group
    .col-sm-offset-2.col-sm-10
      %button.btn.btn-success{:type => "submit"} Submit