.jumbotron
  %h1 Timeline(S)
  %p Create, manage your timeline add events and share them automatically in social media networks.
  %p Your timeline can be either public or private*.
  %p
    %a.btn.btn-lg.btn-primary{:href => "/timelines", :role => "button"} View Public Timelines &raquo;